
# DevWorms 2017.

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache


*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

/Web y Backend/Backend/vendor
/Web y Backend/Backend/.idea
/Web y Backend/Frontend/.idea
/Web y Backend/Backend/Homestead.json
/Web y Backend/Backend/Homestead.yaml
/Web y Backend/Backend/.env
/Web y Backend/Backend/public/files